{% extends "base.html" %}

{% block title %}{{ actor.name }}{% endblock %}

{% block content %}

  <div class="left-ads-display col-lg-7">

    <h1><strong>Actor: </strong> <em>{{ actor.name }}</em>
      <a href="#" class="btn btn-secondary link-to-page" style="float: right">
        Edit
      </a>
    </h1>
    <hr>
    <br>

    <div class="row">
      <div class="desc1-left col-md-6">
        <img src="{{ actor.image.url}}" class="img-fluid" alt="" width="800px">
      </div>
      <div class="desc1-right col-md-6 pl-lg-4">

        <h5 class="editContent"></h5>
        <ul>
          <li style="list-style: none">
            <span><b>Age:</b> {{ actor.age }}</span>
          </li>

          <li style="list-style: none">
            <span><b>Starred in the films:</b><br>
              {% for movie in actor.film_actor.all %}
                &#8195;&#8195;- {{ movie.title }}<br>
              {% endfor %}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="row sub-para-w3layouts mt-5">

      <h2 class="shop-sing editContent" style="outline: none; cursor: inherit;">
        About &#8194;<em>{{ actor.name }}</em>
      </h2>
      <hr>

      <p class="editContent" style="outline: none; cursor: inherit;">
        {{ actor.description|safe }}
      </p>

    </div>
  </div>

{% endblock %}
