{% extends "base.html" %}

{% block navigation %} bg1 {% endblock %}

{% block content %}

  <div class="col-lg-7">

    <h1>Movies List</h1>
    <hr>
    <br>

    <div class="row">
      {% for movie in movie_list %}

        <div class="col-md-4">

          <div class="card" style="width: 18rem;">
            <img src="{{ movie.poster.url }}" class="card-img-top" alt="...">
            <div class="card-body">
              <a href="{{ movie.get_absolute_url }}"><h5 class="card-title">{{ movie.title }}</h5></a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><em>"{{ movie.tagline }}"</em></li>
              <li class="list-group-item"></li>
            </ul>
          </div>
          <br>

        </div>

      {% endfor %}
    </div>

  </div>

{% endblock %}
