html,
body {
    width:100%;
    height:100%;
}


/*--/navbar --*/

.navbar-brand {
    font-size: 32px;
    color: #660000;
}

.nav-link {
    color: #FF4500;
    font-size: 22px;
    font-weight: bold;
}

.nav-link:hover {
    color: #660000;
    text-decoration: underline;
}

.nav-item {
    list-style: none;
}

.bg-blue {
    background: rgba(166,145,92,0.7);
}

/*--//navbar --*/


/*--/side-bar --*/

.side-bar {
    margin-left: 30px;
}

.side-bar a {
    text-decoration: none;
}

.side-bar a span.editContent{
    color: black;
}

.side-bar li {
    list-style: none;
}

.fa {
    text-decoration: none;
}

.fa-star {
    color: #b58900;
}

.fa-star-o {
    color: #b58900;
}

h4.editContent {
    font-size: 16px;
    text-align: left;
}

/*--//side-bar --*/


/*--/card --*/

.editContent {
    font-size: 20px;
    text-align: justify;
}

.card {
    text-align: center;
    height: 620px;
}

.card-img-top {
    height: content-box;
}

.card-title {
    height: 40px;
}

.card-body a {
    text-decoration: none;
    color: black;
}

.card-body a:hover {
    text-decoration: underline;
    color: #935c25;
}

.list-group-item {
    font-size: 18px;
    color: #9B703F;
}

/*--//card --*/


/*--/rating --*/

.w3layouts-box-list {
    list-style: none;
}

/*--//rating --*/


/*--/review --*/

textarea {
  overflow: auto;
  resize: vertical;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.pr-3 {
    text-decoration: none;
}

/*--//review --*/


/*--/banner --*/

.main-banner {
    background: url(../images/banner_03.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 50em;
}

.main-banner.inner {
    background: url(../images/banner_03.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 20em;
}

.bg1 {
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../images/banner_05.jpg);
}

.banner-info {
    padding: 16em 0 0 3em;
    width: 32%;
}

.banner-info h3 {
    font-size: 3.5em;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
}

/*-- //banner --*/


/*--/footer--*/

footer {
    background: #f7f7f7;
}

h3.footer-title {
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3d3f44;
}

footer p {
    font-size: 0.9em;
}

form.w3layouts-newsletter {
    display: flex;
    margin-bottom: 2.5em;
}

.bottom-w3layouts-sec-nav {
    border-top: 1px solid #ddd;
}

.w3layouts-newsletter input[type="email"] {
    padding: 0.6em 1em;
    font-size: 15px;
    color: #000;
    outline: none;
    letter-spacing: 2px;
    border: none;
    border: none;
    flex-basis: 100%;
    background: #efeeee;
}

.w3layouts-newsletter button.btn1 {
    color: #ff4c4c;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    padding: 0.7em 2em;
}

h2.logo-2 a {
    font-weight: 700;
    font-size: 34px;
    color: #1c1d21;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    letter-spacing: 1px;
}

/*--contact--*/
.contact-right-content input[type="text"],
.contact-right-content input[type="email"],
.contact-right-content input[type="tel"],
.contact-right-content textarea {
    padding: 0.8em 1em;
    color: #495057;
    border: none;
    border-radius: 0em;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 1em;
    -webkit-appearance: none;
    outline: none;
    /* display: block; */
    width: 100%;
    background: #f0f1f3;
}

.contact-right-content button.btn.bt1 {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    padding: 12px 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    background: #212529;
    font-weight: 700;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0em;
}

.contact-right-content button.btn.bt1:hover {
    opacity: 0.8;
}

.contact-left-content h4 {
    color: #3d3f44;
    font-weight: 600;
    font-size: 0.95em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-left-content a {
    color: #8c9398;
}

.contact-left-content p {
    margin-bottom: 0;
}

.contact-left-content {
    padding-left: 2em;
}

.contact-right-content textarea {
    min-height: 10em;
}

/*--//contact--*/
.map-fo iframe {
    min-height: 350px;
    border: none;
    background: #e8eaec;
    padding: 0.4em;
    width: 100%;
}

/* social icons */
.w3layouts_social_list li {
    display: inline-block;
}

.w3layouts_social_list li a {
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;
    font-size: 13px;
    border-radius: 50%;
    margin: 0 0.5em;
}

.w3layouts_social_list li a span {
    color: #fff;
    line-height: 34px;
}

a.w3pvt_facebook {
    background: #3b5998;
}

a.w3pvt_twitter {
    background: #1da1f2;
}

a.w3pvt_dribble {
    background: #ea4c89;
}

a.w3pvt_google {
    background: #F44336;
}

/* //social-icons */

/* contact address */
.contact-info h4,
h4.sub-con-fo {
    font-size: 0.9em;
    letter-spacing: 1px;
    color: #5e5e61;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-grid_section_w3layouts li a {
    color: #727377;
    font-size: 0.8em;
    letter-spacing: 1px;
    display: block;
    margin: 1em 0;
}

ul.w3layouts_social_list.media-soc li a {
    display: inline-block;
    margin: 0em 0.5em;
}

.footer-grid_section_w3layouts li a:hover {
    opacity: 0.8;
}

.footer-title h3 {
    font-size: 24px;
    color: #f3f3f3;
    letter-spacing: 1px;
}

ul.w3layouts-icons li a {
    text-transform: uppercase;
}

.footer-right {
    border-left: 1px solid #ddd;
    padding: 3em 0em 3em 2em;
}

.footer-grid_section_w3layouts {
    padding: 3em 0;
}

.contact-info a {
    color: #777;
}

/* //contact address */

/* copyright */
.cpy-right-sec {
    background: #1c1d21;
}

.cpy-right {
    display: flex;
}

.cpy-right p {
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0.5em;
    color: #555;
}

.cpy-right p a {
    color: #555;
}

.cpy-right p a:hover {
    color: #ff6b6b;
}

.media img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

/* //copyright */

/*--//footer--*/



/*-- //to-top --*/

@media(max-width:1366px) {
    .main-banner {
        min-height: 45em;
    }

    .banner-info {
        padding: 16em 0 0em 3em;
        width: 38%;
    }
}

@media(max-width:1280px) {
    h3.tittle {
        font-size: 2.3em;
    }

    .main-banner {
        min-height: 40em;
    }

    .main-banner.inner {
        min-height: 15em;
    }
}

@media(max-width:1080px) {
    .banner-info h3 {
        font-size: 3em !important;
        letter-spacing: 2px;
    }

    .main-banner {
        min-height: 38em;
    }

    h3.tittle {
        font-size: 2em !important;
    }
}

@media(max-width:1024px) {
    .banner-info {
        padding: 14em 0 0em 3em;
        width: 40%;
    }

    .feature-grids h3,
    .bottom-gd.fea h3 {
        font-size: 0.8em;
    }
}

@media(max-width:991px) {

    .gd-bottom {
        float: left;
        width: 50%;
        margin-top: 1em;
    }

    ul.navbar-nav {
        margin-top: 10px;
        background: #101315;
    }

    li.nav-item {
        margin-right: 0;
    }


    .navbar-toggler {
        padding: 0.3rem 0.5rem;
        font-size: 1.25rem !important;
        line-height: 1;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 0.2rem;
    }

    .left-ads-display {
        margin-top: 2em;
    }
}

/*** Responsive Menu For Smaller Device ***/

@media screen and (max-width:900px) {
    .dropdown-menu {
        width: 100%;
    }

    .banner-info h3 {
        font-size: 2.5em !important;
        letter-spacing: 2px;
    }

    .main-banner {
        min-height: 38em;
    }

    .feature-grids h3,
    .bottom-gd.fea h3 {
        font-size: 0.9em;
    }
}

@media(max-width:800px) {
    .main-banner.inner {
        min-height: 12em;
    }

    .banner-info {
        padding: 11em 0 0em 1em;
        width: 44%;
    }

    .main-banner {
        min-height: 30em;
    }

    h3.tittle {
        font-size: 1.8em !important;
    }
}

@media(max-width:768px) {
    .banner-info {
        padding: 11em 0 0 1em;
        width: 58%;
    }

}

@media(max-width:767px) {
    .icon-gd-info {
        text-align: center;
    }

    .footer-grid_section_w3layouts {
        padding: 1em 0;
    }

    h2.logo-2 {
        padding-top: 1em;
    }

    .img-deals {
        float: left;
        width: 40%;
    }

    .img-deal1 {
        padding: 0;
        float: right;
        width: 60%;
    }

    .desc1-right {
        margin-top: 1.5em;
    }

    .contact-left-content {
        padding-left: 1em;
        margin-top: 2em;
    }

    .footer-right {
        border-left: 1px solid #ddd;
        padding: 3em 1em 3em 1em;
    }

    .footer-grid_section_w3layouts {
        padding: 1em 1em;
    }
}

@media(max-width:640px) {
    .main-banner {
        min-height: 28em;
    }

    .banner-info {
        padding: 10em 0 0 1em;
        width: 58%;
    }

    h3.tittle {
        font-size: 1.7em !important;
    }
}

@media(max-width:568px) {
    .banner-info h3 {
        font-size: 2em !important;
        letter-spacing: 2px;
    }

    .sub-para-w3layouts {
        margin: 0;
    }
}

@media(max-width:480px) {
    .main-banner {
        min-height: 25em;
    }

    .banner-info {
        padding: 9em 0 0em 1em;
        width: 58%;
    }

    .main-banner.inner {
        min-height: 9em;
    }
}

@media(max-width:440px) {
    .banner-info {
        padding: 8em 0 0em 1em;
        width: 68%;
    }

    .main-banner {
        min-height: 23em;
    }

    .gd-bottom {
        float: left;
        width: 100%;
        margin-top: 1em;
    }

}

@media(max-width:414px) {
    .banner-info {
        padding: 8em 0 0 1em;
        width: 75%;
    }
}

@media(max-width:384px) {}

@media(max-width:375px) {}

@media(max-width:320px) {}

/*--//responsive--*/
