{% load static %}
{% load movie_tag %}

<nav class="navbar navbar-expand-lg navbar-light bg-blue fixed-top">&#8195;&#8195;
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="img" src="/static/images/movie_world.jpg" alt="" width="40" style="border-radius: 50%">&#8194;<strong><em>MovieWorld</em></strong></a>&#8195;&#8195;&#8195;
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: #902b2b; font-size: 24px"><strong>Home</strong></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% get_categories as categories %}
              {% for category in categories %}
            <li><a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
              {% endfor %}
            {% if user.is_staff %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'movie:category-create' %}">Add category</a></li>
            {% endif %}
          </ul>
        </li>

        {% if user.is_staff %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Movies
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'movie:genre-create' %}">Add Genre</a></li>
            <li><a class="dropdown-item" href="{% url 'movie:director-create' %}">Add Director</a></li>
            <li><a class="dropdown-item" href="{% url 'movie:actor-create' %}">Add Actor</a></li>
            <li><a class="dropdown-item" href="{% url 'movie:movie-create' %}">Add Movie</a></li>
            <li><a class="dropdown-item" href="{% url 'movie:movie-frame-create' %}">Add Movie Frame</a></li>
          </ul>
        </li>
        {% endif %}

      </ul>

      {% if user.is_authenticated %}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hello, <em>{{ user.first_name }}</em>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'user:edit-user-data' %}">Edit Settings</a></li>
            {% if user.profile.id %}
            <li><a class="dropdown-item" href="{% url 'user:edit-profile' user.profile.id %}">Edit Profile</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'user:profile-create' %}">Create Profile</a></li>
            {% endif %}
            {% if user.is_staff %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
            {% endif %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a></li>
          </ul>
        </li>

        <span>
          <img src="{% if user.profile.image %}{{ user.profile.image.url }}
               {% else %}{% static 'images/user.png' %}{% endif %}" alt=""
               width="36" style="border-radius: 50%">
        </span>

      {% else %}
        &#8194;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:register' %}">Sign up</a>
        </li>
        &#8194;&#8194;
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user:login' %}">Sign in</a>
        </li>
      </ul>&#8195;&#8195;
    {% endif %}

    </div>
  </div>
</nav>


<br><br><br>
<div class="banner-info">
  <h3 class="mb-4">Everything about the cinema</h3>
</div>
